[2014-04-08 16:57] sameersbn opened #1 "Announcements"
Subscribe to this issue to get notified about project announcements.
This is mainly created so that you can keep up with the changes in the application stack.
**Please do not use this thread to report issues.**

[2014-07-04 12:55] sjperkins opened #3 "add GITLAB_CI_RELATIVE_URL_ROOT configuration option"
It would be good to have a relative URL option for docker-gitlab-ci (similar to docker-gitlab [65](https://github.com/sameersbn/docker-gitlab/pull/65)) so that configurations like the following can be possible:

http://machine/gitlab/
http://machine/gitlab-ci/

[2014-08-12 05:44] Nekroze opened #5 "NGINX_MAX_UPLOAD_SIZE Support"
Hello Sameersbn,

Support for the `NGINX_MAX_UPLOAD_SIZE` like your gitlab container has would be great, as my runner cannot submit any of its build reports due to size constraints.

Thank you,
Taylor "Nekroze" Lawson

[2014-08-12 17:45] #5 closed, assigned to nobody

[2014-08-31 16:12] 29x10 opened #6 "build always pending"
in the production log, I git this
Can't verify CSRF token authenticity

[2014-09-01 05:00] #3 closed, assigned to nobody

[2014-09-01 05:03] #6 closed, assigned to nobody

[2014-10-23 13:21] sharpner opened #8 "Feature Request: Define runner token as environment variable"
This would be awesome in order to set up runners dynamically without accessing the web gui.

[2014-10-24 07:38] #8 closed, assigned to nobody

[2014-11-27 22:47] JamesStewy opened #10 "404 with relative url root set"
Hi. I am trying to use the GITLAB_CI_RELATIVE_URL_ROOT option to run a Gitlab CI instance at mydomain.com/ci/. I added `-e 'GITLAB_CI_HOST=mydomain.com' -e 'GITLAB_CI_RELATIVE_URL_ROOT=/ci'` to `docker run` but when I go to mydomain.com/ci/, nginx returns a 404 error. If it is any help, I used the same configuration (`-e 'GITLAB_HOST=mydomain.com' -e 'GITLAB_RELATIVE_URL_ROOT=/git'`) with your Git

[2014-12-08 07:26] gyulaweber opened #11 "500 error in builds when delete an enabled project"
If I delete a project which is enabled in CI, the build list returns 500 error. The fastest solution i found is to delete the builds table in the database, but it would be great if someone can find a clever solution.

[2014-12-08 11:16] #11 closed, assigned to nobody

[2014-12-09 05:40] #10 closed, assigned to nobody

[2015-01-06 20:09] mattbailey opened #12 "Nginx logs filling up disk"
Found a 25G access log in this container today.  I'm know it's a huge pain to make it dump out to stdout, but do you think you can implement some sane rotation and/or option to turn off access logging?

[2015-01-07 10:06] sameersbn commented on #12
@mattbailey yes. i did not realize log rotation was not configured. Will fix it soon

[2015-01-19 13:54] #12 closed

[2015-01-22 20:57] jfreax opened #13 "Multiple GITLAB_URLs"
It should be possible to define multiple gitlab urls to link more than one gitlab installation to the ci server.

[2015-01-23 13:33] michaKFromParis opened #14 "Can't login to gitlab-ci after upgrading to 7.7.1 / 5.4.1 with http status 500"
Hi sameer,

I just upgraded gitlab to 7.7.0 and to 7.7.1 shortly after. Did the same with gitlab-ci.
I took good note of the 2 new variables GITLAB_APP_ID & GITLAB_APP_SECRET and configured them correctly in the run command of gitlab-ci after creating the application in the gitlab admin panel.
I've set the callback url to the one gitlab-ci provided me when these variables were not configured.
When

[2015-01-23 14:17] michaKFromParis commented on #14
After a bit of digging into the gitlab-ci production.log, I found out this is related to my self signed SSL certificates:

Completed 500 Internal Server Error in 10ms

Faraday::SSLError (SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed):
  app/controllers/user_sessions_controller.rb:18:in `callback'

the variables are defined as follows and have alway

[2015-01-23 15:05] sameersbn commented on #14
@michaKFromParis You need to trust your gitlab servers ssl certificate https://github.com/sameersbn/docker-gitlab

[2015-01-23 15:10] sameersbn commented on #14
@michaKFromParis p.s. the same can also be configured for gitlab so that gitlab-ci's ssl certificate is trusted by the gitlab server.

[2015-01-23 15:17] michaKFromParis commented on #14
Thanks sameer, Are you referring to the section "Installing Trusted SSL
Server Certificates" ?

On Friday, January 23, 2015, Sameer Naik <notifications@github.com> wrote:

--
Michel Courtine | CEO | iVoltage
+33 6 189 354 89 | michaK@ivoltage.me
http://ivoltage.me

[2015-01-23 15:22] sameersbn commented on #14
@michaKFromParis yes

[2015-01-23 16:31] michaKFromParis commented on #14
All good in the hood! Thanks

[2015-01-23 16:31] #14 closed

[2015-01-23 16:43] michaKFromParis commented on #14
Further comments here:

https://gitlab.com/gitlab-org/gitlab-ci/issues/93#note_768111

[2015-01-28 12:02] kiselli opened #15 "OAuth authentication to gitlab when using linked containers"
I encountered a Problem with OAuth authentication to gitlab when using linked containers.

2 cases:
* The variable GITLAB_URL is set automatically via linking feature (172.24.1.4) => OAuth fails when requesting gitlab Authorize because ip is not available to client via browser

* The variable GITLAB_URL is set maually and refers to the external given url (dockerhost:10080) => Gitlab Authorize requ

[2015-01-28 14:44] sameersbn commented on #15
@kiselli please give some more details with respect to your setup. are you using SSL? docker commands that can be used to reproduce the issue?

[2015-01-28 15:39] kiselli commented on #15
Running on OS X with boot2docker (latest stable)
with dockerhost pointing to boot2docker ip as hosts entry

No SSL in use and nothing predefined or Dockerfile changes. I'm using only the images from the repository.

using fig with following fig.yml:

[code]

my steps as follows:

* ```fig up gitlab```
* creating application name: gitlab_ci callback_url: ```http://dockerhost:10081```
* pasting GITL

[2015-01-28 16:19] sameersbn commented on #15
@kiselli I will give this a try on let you know. I am guessing that using boot2docker would probably require some additional configuration on the host for getting this to work. I cannot be sure though.

Have you set up DNS entries for your gitlab and ci servers?

[2015-01-28 18:53] kiselli commented on #15
No, I havn't set any DNS entrys inside the containers. I tried to solve this using docker linking. If I rely on an DNS there is no purpose of linking the containers.

But maybe the behavior of OAuth does not work togehter with docker linking because the validation authority(gitlab) has to be known to both the CI Server and the browser Client.

[2015-01-29 05:21] sameersbn commented on #15
@kiselli using boot2docker complicates things a bit here. With the the oauth what happens is gitlab will redirect your browser to the ci server. This will probably be some <ip>:<port> redirection in your case which i think the browser cannot connect to.

The proper way to wire everything up is to
 1. Create DNS entries for the gitlab and ci servers. If this is a personal installation then you can

[2015-02-06 00:33] cedvan commented on #15
Hello,

I've similar problem.
I use **Docker version 1.3.1, build 4e9bbfa** on **ubuntu 14.04** server.
I've two DNS **gitlab.domain.com** and **gitlab-ci.domain.com** with nginx reverse proxy on host.
I use **SSL** with certificates official and trusted on server.
Gitlab and Gitlab CI work in **same host**, and I use **docker link**.

When I request Gitlab for authorize account access to gitlab C

[2015-02-06 04:32] sameersbn commented on #15
@cedvan
- try specifying the `GITLAB_URL` parameter for the ci container instead of using docker links. Gitlab oauth seems to not play nicely when docker links are used to set the `GITLAB_URL` parameter.
- the gitlab container needs to trust the ssl cert of the gitlab-ci container and vice versa.

[2015-02-06 09:40] cedvan commented on #15
- I have copy **gitlab/certs/gitlab.crt** to **gitlab-ci/certs/ca.crt**
- I have copy **gitlab-ci/certs/gitlab_ci.crt** to **gitlab/certs/ca.crt**
- I have delete link gitlab and add **-e "GITLAB_URL=gitlab.domain.com**"
- I have application **gitlab-ci** in Gitlab settings with Callback URL **https://gitlab-ci.norsys.fr/user_sessions/callback**
- I restart Gitlab
- I remove and run Gitlab-CI

I h

[2015-02-06 09:55] sameersbn commented on #15
@cedvan first can you try curling `curl https://gitlab.example.com` from the ci container and `curl https://gitlab-ci.example.com` from the gitlab container? These should work without any issues and without having to do `curl -k`. If this test passes then we can confirm that the certificates are installed and trusted.

Now the only thing that could cause the problem would be the reverse proxy conf

[2015-02-06 10:08] cedvan commented on #15
Ok.
I had an internal DNS problem ...
My sysadmin is not cool !

It's work !
Thanks for help

[2015-02-06 10:11] cedvan commented on #15
Just question off topic :
It's possible make indepandant porject image gitlab and gitlab ci.
ie dockerfile not inherit your specific ubuntu ?
In order to allow the fork as valid backup ;)

[2015-02-06 10:14] sameersbn commented on #15
@cedvan I dont understand what you mean.

[2015-02-06 10:27] cedvan commented on #15
Currently dockerfile file of your project docker-gitlab uses your docker-ubuntu project.
So docker-gitlab project is dependant of docker-ubuntu project.
So if I want to save your work with a fork, I have to fork 2 project, docker-gitlab and docker-ubuntu.
I would like docker-gitlab is completely indepndant, for just fork him.

The backup is necessary to back up the system in a company, because if

[2015-02-06 11:26] sameersbn commented on #15
@cedvan There are couple of reasons why I have a custom ubuntu image and why my images are built on top of this image.

1. `sameersbn/ubuntu` installs a set of common packages that I find useful across images. This also results in an improvement of disk space usage.
2. It also allow me to configure/apply system configurations and fixes in one place and have those changes take effect in all other i

[2015-02-06 11:44] cedvan commented on #15
Ok, I understand !

I just started development project open-source **arsenal** created for automated creation of a full development stack. It will offer to install automatically using an interface nodejs several services open-source:

- Gitlab
- Gitlab CI
- Satis
- Docker Registry
- Sonar
- Redmine
- maybe other ?

all will be container, arsenal itself will be a container dind for encapsulate serc

[2015-02-06 12:25] cedvan commented on #15
This argument is **nice** :

the official ubuntu:14.04 image is constantly updated with the same tag. This means that the ubuntu:14.04 image you download today will not be the same if you download it a month from now. This poses a problem when dealing with user issues where you have the "works for me" argument.

Finally I will take your system to the base on my containers and so for base **Arsenal

[2015-02-12 16:09] brunobatista opened #16 "Variable environments"
Hey, where I find this variables `GITLAB_APP_ID` and `GITLAB_APP_SECRET`? Thanks.

[2015-02-12 16:11] cedvan commented on #16
Hello,

- Go in Gitlab Settings
- Add an application
- Enter name **gitlab CI**
- Enter redirect url **https://your_host_gitlab_ci/user_sessions/callback**
- Submit

Have fun ;)

[2015-02-12 16:19] brunobatista commented on #16
Thanks @cedvan to try help. I can not see this option on my gitlab.

My gitlab info:
[code]

[2015-02-12 16:27] cedvan commented on #16
Look requirements, Gitlab CI v5.4 need Gitlab v7.7.0 or newer !

Update your Gitlab ;)

[2015-02-12 16:30] brunobatista commented on #16
Thanls @cedvan :+1:

[2015-02-12 16:30] #16 closed

[2015-02-13 22:38] jar349 opened #17 "Does not start when merged with gitlab fig.yml"
I'm trying to merge the fig.yml from your gitlab repo with the fig.yml with this repo.

Here's my fig.yml:
[code]

When I run `sudo fig up` I get:
[code]

[2015-02-14 03:16] sameersbn commented on #17
@jar349 you need to create a database for gitlab-ci as well. `sameersbn/postgresql:9.1-2` and above allows you to create multiple databases at launch. However, when multiple databases are created you need to specify the `DB_NAME` parameter in env of the gitlab and gitlab-ci containers.

[code]

[2015-02-14 16:32] jar349 commented on #17
Thanks for your response!  I'm using your updates and now I get this stack trace:
[code]

[2015-02-15 03:16] sameersbn commented on #17
I have not problem starting gitlab and gitlab-ci using the fig.yml. Please check if you are running out of RAM. Below are my logs

[code]

[2015-02-16 15:24] jar349 commented on #17
I deleted the old containers with `fig rm` and ran `fig up` again and it worked this time.  Now everything starts and I can log into gitlab.

I created an application in gitlab called `GitLab CI` and set the callback url to `http://localhost:10080/user_sessisons/callback` as per the gitlab_ci documentation.  I then took the app id and secret and added them to the fig.yml.  Then I called `fig stop`

[2015-02-16 20:26] sameersbn commented on #17
@jar349 fig does not update the container after `fig.yml` it is updated. You might have to manually remove the gitlab_ci container before running `fig up` again.

[2015-02-16 21:26] jar349 commented on #17
@sameersbn I had that same thought.  What I did:

1. `fig rm` to remove everything
2. edit `fig.yml` and comment out the entire ci section
3. run `fig up` to create redis, postgres, and gitlab
4. log into gitlab and create an application for gitlab_ci
5. run `fig stop` to stop all containers
6. edit `fig.yml` to uncomment the `ci` section and include the app_id and secret
7. run `fig up` so that g

[2015-02-17 03:13] sameersbn commented on #17
@jar349 I use both gitlab and gitlab-ci. I do not use fig though. In my setup I am able to login to gitlab-ci via the gitlab oauth no problem.

I have not tried this using fig.

[2015-02-23 16:32] RunsFor commented on #15
Hi,

I had similar problem.
Boot2docker has  at least two interfaces:
1. External interface which you use to communicate with containers. For me its `192.168.59.103`.
2. Internal interface which works as a gateway between containers, when they communicate each other. In my case its `172.17.42.1`.

Since dockers port forwarding option `-p` [binds](https://docs.docker.com/userguide/dockerlinks/) to

[2015-02-23 16:44] sameersbn commented on #15
@RunsFor thanks for sharing the info.

[2015-03-01 17:03] ebuildy commented on #17
I am running the same issue, a fresh gitlab + gitlab ci install via the same fig.yml.

The Oauth URL is:

    http://index.dev:10080/oauth/authorize?client_id=%27&redirect_uri=http%3A%2F%2Findex.dev%3A10081%2Fuser_sessions%2Fcallback&response_type=code

Should I configure something in Gitlab settings?

[2015-03-01 17:11] ebuildy commented on #17
Ho, actually you must setup an Oauth application on your gitlab AND set

    GITLAB_APP_ID
    GITLAB_APP_SECRET

On your fig.yml, for CI container.

[2015-03-01 20:08] ebuildy commented on #15
I am getting 500 errors on the callback:

    /user_sessions/callback?code=....

How can I debug it?

Thanks,

[2015-03-03 10:04] sameersbn commented on #15
@ebuildy are you using https? If yes, I suggest you disable https on both gitlab and ci and check it all works fine. If it does, then you know the issue arises from ssl configuration.

For finer debugging you can access the container shell and watch the logs at `/var/log/gitlab/` and `/var/log/gitlab-ci` for the gitlab and gitlab-ci containers respectively.

[2015-03-04 09:06] ebuildy commented on #15
You are right, mount log volume helps a lot. BTW, is it possible to mount configuration as well?

I finally got it working by using the same DNS between my laptop and the Docker host. Now I have "setup" my fig.yml,  it's really fantastic to see gitlab + gitlab-ci + runner working everywhere in just 5 minutes!

Thanks you again,

[2015-03-04 09:17] sameersbn commented on #15
@ebuildy you can specify all required env variables in a file and specify it using the `--env-file` docker option. I don't know if this option is available in fig.

[2015-03-04 09:20] ebuildy commented on #15
Yes this is working very well but need to re-init the docker container ;-( which can take a long time.

[2015-03-04 12:49] sameersbn commented on #15
@ebuildy I dont understand what you mean.

[2015-03-16 22:36] mirzap opened #18 "Can't Authorize Gitlab CI"
Hi, I have problem when I try to authorize an app:

![selection_046](https://cloud.githubusercontent.com/assets/991967/6677906/93fabc28-cc34-11e4-88ac-ced591388b7a.png)

here is log from /var/log/gitlab-ci/gitlab-ci/production.log

[code]

[2015-03-20 05:28] sameersbn commented on #18
@mirzap I see that the redirection is trying to connect to http://mygitlabhost.be:10081. Is that correct.

Please share your run commands for starting gitlab and ci.

[2015-03-20 10:46] mirzap commented on #18
Yes @sameersbn Here is my fig file:

[code]

[2015-03-23 13:33] sameersbn commented on #1
**2015-03-23**
 - gitlab-ci version `7.9.0` is out now
 - `GITLAB_CI_NOTIFY_ADD_COMMITTER` option has been renamed to `GITLAB_CI_NOTIFY_PUSHER`.

[2015-03-31 08:53] epiphyllum opened #20 "gitlab-ci homepage can not be openned!"
I have configured my gitlab according to the guideline in the page /help/oauth2

![1](https://cloud.githubusercontent.com/assets/8348065/6915378/03730db6-d7c6-11e4-8ad6-e13885dc860a.jpg)

![2](https://cloud.githubusercontent.com/assets/8348065/6915334/b5af5544-d7c5-11e4-8e12-5afdb3f79f79.jpg)

and my gitlab-ci  restarted with:

# common
IP=172.17.88.9
MASK=24
GATEWAY=172.17.42.1
#
VERSION=7.9.1

#

[2015-03-31 08:57] epiphyllum commented on #20
![3](https://cloud.githubusercontent.com/assets/8348065/6915469/e3446e62-d7c6-11e4-8909-13b38e9a39a4.jpg)

my gitlab-ci's   IP is 172.17.88.9

[2015-03-31 08:59] epiphyllum commented on #20
![3](https://cloud.githubusercontent.com/assets/8348065/6915512/3c7457ae-d7c7-11e4-884a-af469c6d2601.jpg)

gitlab-ci's IP is 172.17.88.9

[2015-03-31 09:04] epiphyllum commented on #20
my gitlab run comands
[code]

my gitlab-ci run commands
[code]

[2015-03-31 09:52] epiphyllum commented on #20
Is it related to gitlab's config???
![4](https://cloud.githubusercontent.com/assets/8348065/6916403/9b468f5c-d7ce-11e4-8f25-c370ad172bc2.jpg)

how should I configure it?

[2015-03-31 11:19] epiphyllum commented on #20
may I get your help?  I get stuck here!  thanks!

my whole environments like this:

OS:   ubuntu:14.04
docker versioni: 1.5

### /etc/hosts  file
[code]
### /etc/haproxy/haproxy.cfg
[code]

### gitlab run
[code]

### gitlab-ci run
[code]

[2015-03-31 12:26] epiphyllum commented on #20
production.log always get this:

Started GET "/" for 127.0.0.1 at 2015-03-31 20:24:31 +0800
Processing by ProjectsController#index as HTML
Redirected to http://gitlab-ci.tfs.com/help/oauth2
Filter chain halted as :check_config rendered or redirected
Completed 302 Found in 3ms (ActiveRecord: 0.5ms)
Started GET "/help/oauth2" for 127.0.0.1 at 2015-03-31 20:24:32 +0800
Processing by HelpsController#o

[2015-03-31 12:59] sameersbn commented on #20
@epiphyllum The redirection issued is for the browser. This means that when GitLab asks the for a redirection to http://172.17.88.9/user_sessions/callback, the browser needs to make a connection to http://172.17.88.9/user_sessions/callback. I am pretty sure your configuration will not allow the browser to connect directly to the ci container.

This basically means that you need to configure the ca

[2015-03-31 19:59] fruel opened #21 "Cronjob for scheduled builds not working"
I have successfully set up Gitlab CI 7.9.1 with Docker 1.5.0 on Ubuntu 14.04. Everything seems to be working fine (webinterface, builds on commit triggered by Gitlab, ...) except scheduled builds.

In my project settings I enabled ```Repeat last build after X hours if no builds``` and set the time to 2 hours. Gitlab CI still starts a build only on commits and not every 2 hours.

Cron is running an

[2015-04-01 01:03] epiphyllum commented on #20
I configured it to http://gitlab-ci.tfs.com/user_sessions/callback in my gitlab.   and I am sure, my browser can connect directly to it.  but  when I open http://gitlab-ci.tfs.com/   the ci server always redirect me to http://gitlab-ci.tfs.com/help/oauth2.
![5](https://cloud.githubusercontent.com/assets/8348065/6932509/dc0c573c-d84c-11e4-8bb1-d9e3fe68ab23.jpg)

I docker-exec enetered the ci contai

[2015-04-01 01:20] epiphyllum commented on #20
sorry, I missed the key parameter   GITLAB_URL!!!

sorry!!!!!

[2015-04-01 01:20] #20 closed

[2015-04-01 01:48] epiphyllum commented on #18
I have the same problem.

## my gitlab-ci's log:
[code]

## my gitlab's log
[code]

[2015-04-01 03:08] epiphyllum opened #22 "Can not authrize gitlab-ci"
the whole interaction like this:

## 1  open http://gitlab-ci.tfs.com/
![1](https://cloud.githubusercontent.com/assets/8348065/6933903/1f693fce-d85f-11e4-9307-7e82e995b75b.jpg)

## 2 click login with gitlab;
![2](https://cloud.githubusercontent.com/assets/8348065/6933914/3a8e0168-d85f-11e4-87dc-03a1c767a54f.jpg)

## 3 click the authorize,  got the error
![3](https://cloud.githubusercontent.com/ass

[2015-04-01 04:34] sameersbn commented on #20
@epiphyllum i was just going to point that out.

[2015-04-01 04:46] sameersbn commented on #18
@mirzap how have you setup the domain name `mygitlaburl.be`? Have you added a entry in the `/etc/hosts` file for it? If that is the case, then it basically means that the gitlab-ci container is not able to connect to http://mygitlaburl.be:10081, probably because it cannot resolve the hostname.

You can manually check this using.

[code]

`wget` output will show if the hostname resolution is happen

[2015-04-01 04:50] sameersbn commented on #22
duplicate of #18

[2015-04-01 04:50] #22 closed

[2015-04-01 04:51] sameersbn commented on #21
@fruel I am guessing that the `PATH` variable is not set correctly when cronjob executes. I will try this out later.

[2015-04-01 04:55] sameersbn commented on #18
@epiphyllum I am a bit busy at the moment. I would suggest you look at your haproxy configuration. I remember a long time ago I had such problems with the redirection. You can try looking up the past issues for hints.

If you manage to fix the issue please list the corrective measures taken. I will look into it as soon as I can find some time.

[2015-04-01 05:13] epiphyllum commented on #18
It should not the problem of haproxy.  because, Even if I don't use haproxy, in my local box test, the problem still exists.   the following is my /etc/hosts

#######################################################
#     tfs In Localhost
#######################################################
# 127.0.0.1   redmine.tfs.com  redmine    # redmine
# 127.0.0.1    gitlab.tfs.com  gitlab     # gitlab
# 1

[2015-04-01 05:22] epiphyllum commented on #18
I found the problem:

we should add entry in /etc/hosts  for gitlab-ci ang gitlab container

because this two container call each other with URL

[2015-04-01 06:08] sameersbn commented on #18
@epiphyllum that was my point

[2015-04-01 06:10] sameersbn commented on #18
@epiphyllum I think you can also volume mount the host '/etc/hosts' using `-v /etc/hosts:/etc/hosts:ro`.
This however is untested and I do not recommended it. You are better of making DNS entries at the DNS server.

[2015-04-01 09:20] sameersbn commented on #18
@epiphyllum was you issue fixed after making the `/etc/hosts` entries?
@mirzap can you please try this resolution?

[2015-04-01 09:40] epiphyllum commented on #18
yes.   using -v to mount /etc/hosts is more robustable and be consistent!

[2015-04-02 07:52] sameersbn commented on #18
@mirzap ping!

[2015-04-04 22:02] d0ubl3d commented on #18
I think that the issue is with linking containers.
Even from the main host it shows forbidden using curl or wget to given ports.
When called from outside it works properly.

[2015-04-05 04:06] sameersbn commented on #18
@d0ubl3d using the link feature to set the `GITLAB_URL` is not advisable anymore. Ideally you want to set the `GITLAB_URL` to the to `git.example.com` or something.

[2015-04-05 04:06] #18 closed

[2015-04-05 15:02] d0ubl3d commented on #18
But for some reason gitlab port  is not accessible from gitlab_ci container.

[2015-04-06 08:38] mirzap commented on #18
Still have problem with this. Can't access to the gitlab URL with this port from CI container...

[2015-04-13 12:51] #17 closed

[2015-04-13 12:53] #15 closed

[2015-04-24 17:11] DSchalla opened #25 "docker-compose: Database Issues"
Hello there,

first of all thanks a lot for the creation of the docker images, using the Gitlab Image since a few days and it works flawless.

I wanted to integrate the Gitlab CI Image now to my setup, however when I copy&paste your configuration from the image and try docker-compose up I run into the following issue:

-> # docker-compose up
Creating ci_postgresql_1...
Creating ci_redis_1...
Creat

[2015-05-04 03:09] cbankester commented on #25
I'm getting this too. Might be easier to run the migrations on the db before starting the container.

[2015-05-04 04:49] sameersbn commented on #25
@DSchalla @cbankester can you describe your setup. i.e. host distro, docker version and possibly share the `docker-compose.yml` file in use

[2015-05-04 14:51] cbankester commented on #25
Sure! Note that I redacted the personally-identifying bits like hostnames and passwords.
[code]

Basically my setup is this:
* Gitlab running in docker container (https://github.com/sameersbn/docker-gitlab)
  - Note that the Gitlab `docker-compose.yml` uses `GITLAB_HOST=gitlab.[gitlab_domain]`, so it's on the same domain as Gitlab CI
* Redis container running alongside Gitlab container (specified

[2015-05-04 17:04] sameersbn commented on #25
@cbankester what is your host os?

[2015-05-04 17:07] cbankester commented on #25
My apologies. I'm running:
* Docker 1.3.2
* CentOS 7

[2015-05-04 19:22] DSchalla commented on #25
@sameersbn

* Docker Compose from the Repo (Same file, exactly, just different DB Parameters)
* Docker version 1.5.0, build a8a31ef
* docker-compose 1.1.0
* Ubuntu 14.04.2 LTS

Thanks!

[2015-05-05 03:39] cbankester commented on #25
@sameersbn @DSchalla I figured out what my issue was. In the `docker-compose.yml` file, single-quoting the app_id and app_secrets was leading to double-single-quoting of them in the container's `application.yml` file, which is invalid YAML syntax.

[2015-05-05 04:15] sameersbn commented on #25
@DSchalla can you try @cbankester's resolution?

[2015-05-05 04:17] sameersbn commented on #25
I have updated `docker-compose.yml` from the repo to remove the `'` characters in https://github.com/sameersbn/docker-gitlab-ci/commit/ed6702a33f27298212d319682d32bf1b440d320e

[2015-05-07 03:11] Haitianisgood opened #26 "not best follow"
docker pull sameersbn/gitlab-ci:latest
FATA[0000] Post http:///var/run/docker.sock/v1.18/images/create?fromImage=sameersbn%2Fgitlab-ci%3Alatest: dial unix /var/run/docker.sock: permission denied. Are you trying to connect to a TLS-enabled daemon without TLS?

[2015-05-07 04:52] sameersbn commented on #26
@Haitianisgood I don't completely understand your issue due to the lack of information. But from your error message it looks like you do not have sufficient privileges to access the `/var/run/docker.sock` docker socket.  You probably need to use `sudo` to execute the command.

[2015-05-07 05:47] Haitianisgood commented on #26
I know my error,I just want to say you command "docker pull sameersbn/gitlab-ci:latest " need right environment!But you didnt remind it!you should addd "sudo" or "sudo usermod -aG docker ubuntu"

[2015-05-07 05:53] sameersbn commented on #26
@Haitianisgood well. Its difficult to cover every single aspect of docker here. Users are expected to know a fair bit of docker or at the very least read the error messages :smile:

[2015-05-07 05:55] Haitianisgood commented on #26
yeah,you are right!but as ubuntu should come the same problems!I dont konw if you testing it!

[2015-05-07 06:27] sameersbn commented on #26
@Haitianisgood I use 14.04 and I perform some basic tests.

[2015-05-07 06:27] #26 closed

[2015-05-07 06:43] Haitianisgood commented on #26
I also use 14.04,and come across that problems.But thank you for you sharing!

[2015-05-13 05:17] sameersbn commented on #25
@DSchalla any updates?

[2015-05-13 09:07] Haitianisgood opened #27 "Login using GitLab account"
gitlab and gitlab-ci in same server,IP: 192.168.1.27

I install them as yous

when i login gitlab-ci with giltlab,it occur cant't find the site. so i change your command 'GITLAB_URL'to http://192.168.1.27:10080' like this,

docker run --name=gitlab-ci -d \
  --link=postgresql-gitlab-ci:postgresql --link=redis-gitlab-ci:redisio \
  --publish=10081:80 \
  --env='GITLAB_CI_PORT=10081' --env='GITLAB_U

[2015-05-13 11:32] DSchalla commented on #25
Everything up and running @sameersbn, thanks a lot for your fix! Gitlab CI is running, I didn't try anything erious with it yet though. Feel free to close the issue.

[2015-05-13 11:35] #25 closed

[2015-05-16 18:06] pdiegmann opened #28 "502 Bad Gateway after Login-redirect from GitLab"
Dear all,

I installed GitLab (with separate postgresql / redis container which) and GitLab-CI (using the same postgresql / redis as GitLab). GitLab-CI is booting just fine and I was able to connect to GitLab (getting redirected, asked for permission to access API), but after GitLab redirects to the (correct) URL (http://192.168.2.99:10080/user_sessions/callback?code=xyz), it loads for about 2 min

[2015-05-17 07:42] pdiegmann commented on #28
Okay, I found the ```production.log```file:
[code]

[2015-05-18 07:10] pdiegmann commented on #28
Nevermind, magically, it now worked after the 10th try somehow.

[2015-05-18 07:10] #28 closed

[2015-05-18 07:14] sameersbn commented on #28
@pdiegmann Generally configuring GITLAB and GITLAB_CI to use IP addresses makes the configuration a little difficult to understand. You should consider using domain names to avoid confusion.

Anyways, I can get gitlab and gitlab-ci working together using the `docker-compose.yml` files in the respective project repos. Just make sure that in the `docker-compose.yml` of gitlab-ci, updated GITLAB_URL

[2015-05-18 07:15] pdiegmann commented on #28
@sameersbn I did use Domain-Names but to be sure that the problem lies apart from my reverse proxy, I switched to IP-Port-usage.

But as it does run okay for now, I'd have this issue closed.

But thanks for your support!

[2015-05-21 11:09] Excelecio opened #30 "Can't log in to the API: Error 500"
I've installed locally gitlab and gitlab-ci using docker. Now i can't access API from gitlab-ci, when i authorize the access it leads me to : ERROR 500 : something went wrong.

Here is how i launched the gitlab-ci container :
[code]

and the production.log :
[code]

Thank you

[2015-05-21 13:31] LordFPL commented on #21
I confim, it's working with :
[code]

[2015-05-21 16:32] sameersbn commented on #21
Sorry for not getting to this. Will make sure this is part of the upcoming release

[2015-05-21 17:47] #21 closed

[2015-05-21 17:56] sameersbn commented on #30
@Excelecio Please refer to my https://github.com/sameersbn/docker-gitlab-ci/issues/28#issuecomment-102944598

If you replace `GITLAB_URL=http://localhost:10080` in the gitlab ci run command to use the ip address of the host, you should get it working.

[2015-05-21 18:16] sameersbn commented on #1
Please note the release with gitlab-ci `7.11.0` may be delayed by a couple of days to allow me some time to add support for normal and automated backups. You heard it right, gitlab-ci now has backup and restore support.

[2015-05-22 03:19] zhangspook opened #31 "The redirect uri included is not valid"
gitlab and gitlab-ci in same server,IP: 192.168.0.20

I install them as yous

when i login gitlab-ci with giltlab,it occur cant't find the site. so i change your command 'GITLAB_URL'to http://192.168.1.20:10080' like this,

gitlab:
docker run --name='gitlab' -d   --link=postgresql-gitlab:postgresql --link=redis-gitlab:redisio   --publish=10022:22 --publish=10080:80   --env='GITLAB_PORT=10080' --en

[2015-05-23 07:13] sameersbn commented on #31
@zhangspook I tested your commands and everything looks they way it should. The reason why you are seeing the issue is because you have either configured the oauth callback url to ` http://localhost:10081/user_sessions/callback ` and accessing gitlab-ci using `http://192.168.0.20:10081`. This does not seem to work. Change the callback url to http://192.168.0.20:10081/user_sessions/callback ` and i

[2015-05-25 06:34] zhangspook commented on #31
`http://192.168.0.20:10081/user_sessions/callback` is right

Display
`Authorize gitlab-ci to use your account?

This application will be able to:

Access your API

Authorize  Deny`

Click Authorize to report the error.
"Sorry but, something went wrong We're" 500

[2015-05-25 09:04] zhangspook commented on #31
sorry ,I did not shut down the firewall
thanks！

[2015-05-25 09:04] #31 closed

[2015-05-25 09:40] Excelecio commented on #30
It worked. Many thanks.

[2015-05-25 09:40] #30 closed

[2015-05-27 16:20] sameersbn commented on #27
@Haitianisgood Please refer issue #31

[2015-05-28 08:04] sameersbn commented on #1
**2015-05-28**
 - Gitlab CI `7.11.3` is finally here with backups feature. Please refer the Readme and Changelog for more information

[2015-05-31 00:36] Thr1ve opened #32 "Permission Issues"
Hello!

When trying to run `$ docker-compose up` after copying your .yml into a directory, it fails with the following error message:

`ci_1         | mkdir: cannot create directory '/home/gitlab_ci/data/backups': Permission denied
gitlabcidocker_ci_1 exited with code 1`

I was able to get docker-gitlab up and running without problem, but can't seem to get past this issue with docker-gitlab-ci

I

[2015-05-31 15:22] sameersbn commented on #32
@Thr1ve can you retry with the `sameersbn/gitlab-ci:latest` image? I have made some changes that might fix the problem in cb28343b7aa640ce7973334e8c10ee90fd0d4616

[2015-05-31 16:31] Thr1ve commented on #32
That worked! Thank you so much!

Closing Issue

[2015-05-31 16:31] #32 closed

[2015-06-04 00:20] aplsms opened #33 "ci_1: mkdir: cannot create directory '/home/gitlab_ci/data/backups': Permission denied"
hi
i have a problem runnyng docker-gitlab-ci
redis_1      | [9] 04 Jun 00:15:14.682 # Server started, Redis version 2.8.4
redis_1      | [9] 04 Jun 00:15:14.682 # WARNING overcommit_memory is set to 0! Background save may fail under low memory condition. To fix this issue add 'vm.overcommit_memory = 1' to /etc/sysctl.conf and then reboot or run the command 'sysctl vm.overcommit_memory=1' for this

[2015-06-04 06:55] sameersbn commented on #33
@aplsms This issue has been fixed in the `latest` tag. Can you try with that.

[2015-06-04 23:34] aplsms commented on #33
got it, thank you,

[2015-06-04 23:34] #33 closed

[2015-06-06 09:47] yuxiaorui opened #34 "INFO[0012] error creating aufs mount to /var/lib/docker/aufs/mnt/***-init: invalid argument"
When i docker build or docker run sameersbn/gitlab-ci:laster always have this error. What's problem?
--------------------------------------------------------------------------------------------------------
Sending build context to Docker daemon  59.9 kB
Sending build context to Docker daemon
Step 0 : FROM sameersbn/ubuntu:14.04.20150604
14.04.20150604: Pulling from sameersbn/ubuntu

e118faab2e16:

[2015-06-09 23:21] nemonik opened #35 "immediately exits on launch the gitlab-ci container"
On OS X, container immediately exits on launch the gitlab-ci container

[code]
and

[code]

I used the quickstart, docker-compose.yml method.  Thoughts?

[2015-06-10 03:09] nemonik commented on #35
appears to be same as #32

[2015-06-10 05:15] sameersbn commented on #35
@nemonik yes, that is correct. I just made a new `7.11.4-1` point release with the fix. You can use it.

[2015-06-10 16:49] nemonik commented on #35
I got a bit farther on OS X by adding *--publish=10022:22* and modifying *--env='GITLAB_URL* to *--env='GITLAB_URL=http://`boot2docker ip`:10080'*.

[code]

gitlab-ci starts, but clicking on *Login with GitLab*, but it returns:

[code]

The logs:

[code]

Thoughts?

[2015-06-18 15:45] Z3roCoder opened #36 "500 We're sorry, but something went wrong."
Why do I get this error? I have set everything up correctly according to https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/gitlab-ci/README.md yet I get this error. I have no idea what data to provide either so... Someone help please?

[2015-06-19 08:05] Z3roCoder commented on #35
I experience this error too and it is pretty bothering us right now. @sameersbn please can you look at it and help?

[2015-06-19 08:13] sameersbn commented on #35
@nemonik @Z3roCoder this is basically a communication issue between the gitlab and ci containers. using ip addresses in GITLAB_HOST / GITLAB_URL seems to cause such issues.  Please refer to https://github.com/sameersbn/docker-gitlab-ci/issues/28 for possible fixes.

[2015-06-19 08:53] Z3roCoder commented on #35
@sameersbn Alright, the other issue helped me to be at least able to click "Login" to GitLab. But now, after clicking Authorize, I get another 500 Error.

GitLab-CI Config:

[code]
GitLab runs on 192.168.16.133:10080/gitlab/
GitLab-CI runs on 192.168.16.133:10081/gitlabci/

My production.log tells me the following:

[code]

[2015-06-19 09:07] sameersbn commented on #35
@Z3roCoder are you using boot2docker by any chance?

[2015-06-19 09:30] Z3roCoder commented on #35
@sameersbn No, I am solely using docker on CentOS7

[2015-06-22 17:18] sameersbn commented on #35
@Z3roCoder Please exec into the `gitlab-ci` container and try accessing the gitlab container, eg `wget http://192.168.16.133:10080 -O -`. If this does not work, then it is probably some firewall rules or selinux causing problems. You can try disabling selinux `setenforce 0` to test it.

[2015-06-23 15:02] Z3roCoder commented on #35
"No route to host" - Hmm... How do I get Gitlab-CI Container to communicate with gitLab? I have externally linked GitLab to GitLab-CI and told GitLab to expose its port?

[2015-06-23 17:12] sameersbn commented on #35
@Z3roCoder The host is probably not allowing the two containers to talk to each other. This should probably be configured at the firewall (`iptables`) or it is possible that selinux is not allowing this communication.

[2015-06-28 22:49] chrisamoore opened #37 "Did the quick start w/ docker compose but no Instance Running"
I added an app in gitlab as well:

I used the main ci url that it would be to generate the keys for the `docker-compose.yml` file

Output:
![screen shot 2015-06-28 at 3 46 45 pm](https://cloud.githubusercontent.com/assets/740153/8398667/f5190e96-1dac-11e5-9e39-08f9f9a03716.png)
![screen shot 2015-06-28 at 3 46 37 pm](https://cloud.githubusercontent.com/assets/740153/8398670/040776ea-1dad-11e5-8dd3

[2015-06-28 22:51] chrisamoore commented on #37
![screen shot 2015-06-28 at 3 50 52 pm](https://cloud.githubusercontent.com/assets/740153/8398681/81c813e6-1dad-11e5-9b3d-7a4ad073039c.png)

[2015-06-28 22:53] chrisamoore commented on #37
![screen shot 2015-06-28 at 3 53 03 pm](https://cloud.githubusercontent.com/assets/740153/8398685/ce5ff23c-1dad-11e5-8e66-75f7aec27873.png)

[2015-06-29 17:24] sameersbn commented on #37
@chrisamoore In you last screenshot i see host port `10081` is forwarded to port `81` of the container. This is incorrect, it should be forwarded to port `80`

[2015-06-30 14:55] WillSkates opened #38 "Issue starting with docker-compose"
I attempted to start the service using the docker-compose.yml file in the repo. I can't get an instance up and running. Each time I try to curl to localhost:10081 I get 'Connection reset by peer'.

After using
docker-compose run ci /bin/bash
and typing
wget localhost
or
wget 127.0.0.1

I get
--2015-06-30 15:52:54--  http://localhost/
Resolving localhost (localhost)... ::1, 127.0.0.1
Connecting to

[2015-06-30 15:22] sameersbn commented on #38
@WillSkates I have had no issue running gitlab-ci using your docker compose file

[code]

I have no issue running `curl http://localhost:10081`

Couple of things to note.
 - Allow Gitlab-CI some time to start. You can keep an eye on the logs
 - If you are using boot2docker, then you should use the VM's ip address instead of localhost

[2015-06-30 15:23] sameersbn commented on #38
@WillSkates FWIW, here are my logs

[code]

[2015-06-30 17:20] WillSkates commented on #38
@sameersbn Thank you for your advice I wasn't patient enough waiting for it to start. However my postgres service doesn't start accepting connections before the ci service times out waiting for them. I know this isn't the same issue however I have no idea how to start solving it.
[code]

[2015-06-30 17:45] sameersbn commented on #38
@WillSkates I think you are using a very old version of the `sameersbn/postgresql` container which does not support creating user and database using env variables. Please pull a more recent version and retry.

[2015-06-30 17:49] sameersbn commented on #38
@WillSkates updated the docker-compose file to use `sameersbn/postgresql:9.4-1`

[2015-06-30 18:47] WillSkates commented on #38
@sameersbn I updated my dockerfile and even though the database system now says it's ready to accept connections, the gitlab-ci service still times out waiting for it.

[2015-06-30 18:52] Ablu commented on #36
I get this error too after I hit `Login with GitLab` and hitting `Authorize` on the dialog on the gitlab page.

[2015-06-30 19:43] #38 closed

[2015-06-30 19:44] WillSkates commented on #38
@sameersbn Thank you for all your time and effort into helping me with this but I ran out of time to fix it and instead had to move on. Thank you again!

[2015-07-01 02:08] chrisamoore commented on #37
I had tried that and it faild as well, i ended up using the manual install :cry:

[2015-07-01 02:09] chrisamoore commented on #37
Thanks though

[2015-07-01 02:09] #37 closed

[2015-07-01 03:38] sameersbn commented on #38
@WillSkates Please note that you have to delete the existing container `docker-compose rm` to make sure new containers are created when you do `docker-compose up`, otherwise the same old containers are reused.

[2015-07-01 05:39] sameersbn commented on #36
@Z3roCoder @Ablu Please refer to my comment https://github.com/sameersbn/docker-gitlab-ci/issues/28#issuecomment-102944598 for a possible fix.

[2015-07-01 09:45] charles-plessy commented on #10
Hello,

usin `sameersbn/gitlab:7.12.0`, I get redirected to `http://my-ip-address:10080/gitlab/gitlab/users/sign_in` (hence 404) when setting `GITLAB_RELATIVE_URL_ROOT=/gitlab` in the `docker-compose.yml` file.  However, it only happens when I logged in for the first time...

[2015-07-01 10:28] sameersbn commented on #10
@charles-plessy gitlab-ci officially does not mention support for setting up gitlab-ci at a relative_root. This was added in this image by a contributor. However I will try to reproduce this issue and hopefully get it fixed.

[2015-07-08 12:08] Z3roCoder commented on #36
None of any of those things helped.

Commands I am calling both docker-compose.yml's with:
[code]

Gitlab docker-compose.yml:
[code]

Gitlab-CI docker-compose.yml:
[code]

[2015-07-08 12:08] Z3roCoder commented on #36
@sameersbn

[2015-07-08 12:59] outcoldman commented on #36
@Z3roCoder check the production.log,

Execute bash in your `ci` container (you can find the name with `docker ps`)

[code]

Go to the location of the logs

[code]

And check the `production.log`

[code]

[2015-07-08 13:08] Z3roCoder commented on #36
It always tells me "No route to host" - Did I set up something wrong in my files?

[2015-07-08 13:08] Z3roCoder commented on #36
@outcoldman

[2015-07-08 16:38] outcoldman commented on #36
@Z3roCoder possible, I have never tried to set `GITLAB_RELATIVE_URL_ROOT`, maybe this can be an issue. Have you tried to `curl` from `gitlabci` server to the `http://192.168.16.133:10080/gitlab` to see if it actually has access to it? Also what is your callback url in gitlab?

[2015-07-08 19:10] danger89 commented on #14
The correct answer was to append our own self-signed certificate to the cert.pem, see:
https://gitlab.com/gitlab-org/gitlab-ci/issues/89#note_1594051

[2015-07-09 07:15] Z3roCoder commented on #36
[code]

And where do I see what my Gitlab-Callback URL is?
@outcoldman

[2015-07-09 07:18] Z3roCoder commented on #36
Ooh now I see what you meant. As Application I have entered the callback URL's
http://192.168.16.133:10081/gitlabci/user_sessions/callback
http://my-domain.com/gitlabci/user_sessions/callback

(As it said "One URL per line" I thought you could enter multiple, as Gitlab and Gitlab-CI are supposed to work with ReverseProxies later)
@outcoldman

[2015-07-09 12:59] outcoldman commented on #36
@Z3roCoder you have the answer already - gitlab-ci does not have access to gitlab, when you tried to curl `http://192.168.16.133:10080/gitlab` it shows you `No route to host`. You need to fix that.

[2015-07-09 14:22] Z3roCoder commented on #36
Hmh, but how shall I do that? I can not use net: "host" or similar, and linking containers does not work either as when I link containers, the gitlab-url gets mapped to the hosts file, but an internal on elike "172.xxx.xxx.xxx" which I can not access on another computer. So letting the env GITLAB_URL get set automatically is no option either

[2015-07-09 16:50] outcoldman commented on #36
@Z3roCoder  is `http://192.168.16.133:10080/gitlab` a url which you user in browser?

[2015-07-10 06:48] Z3roCoder commented on #36
Alright, I have now solved my problems. I have updated Docker as well as Docker-Compose to the newst Version and changed the following:

I fully switched to domain Names and created a single point of reference. Meaning that in both Gitlab and Gitlab-CI I have passed the option "extra_hosts" with a value like: "sub.my-domain.com: 192.168.16.133" and have told Gitlab and Gitlab-CI to use "sub.my-dom

[2015-07-22 14:06] MichaeMimouni commented on #15
If that may help someone, i had a 500 error on calling the gitlab-ci user_sessions/callback. I'm using @sameersbn docker gitlab-ci:7.12.2 and gitlab:7.12.2-2 with an nginx reverse https proxy in front.
As @sameersbn says, curl MUST call the gitlab url from the gitlab-ci docker without the '-k' switch. Which in my case didn't work.
So as i'm on ubuntu 14.04, the way to trust my ca (i'm not using a

[2015-07-22 14:39] sameersbn commented on #15
@MichaeMimouni thats right. However you can copy your .pem file as `ca.crt` in the `certs` directory of the data volume and the image will automatically trust the certificate when the container is started. Refer to [Installing Trusted SSL Server Certificates](../#installing-trusted-ssl-server-certificates) for details.

[2015-07-22 15:00] sameersbn commented on #1
**2015-07-22**

Gitlab CI `7.13.0` is out. You need to provide configuration parameters `GITLAB_CI_SECRETS_SESSION_KEY_BASE` and `GITLAB_CI_SECRETS_DB_KEY_BASE`. You can generate random values for these variables using `pwgen -Bsv 64`.

[2015-07-23 12:21] jacek-marchwicki opened #41 "doc - since 7.13.0 secrets env"
In README there is mentioned:
`Since 7.13.0 you also need to provide the GITLAB_CI_SECRETS_SESSION_KEY_BASE and SECRETS_DB_KEY_BASE parameters.`

But there is no information how to generate those keys, can you point me a place where can I get such information.
I tried to find some informations in gitlab-ci documentation about secrets.yml but I failed

Btw: thanks for your great work ;)

[2015-07-23 12:33] jacek-marchwicki commented on #41
@sameersbn sorry.. just after submitting I found your answer: https://github.com/sameersbn/docker-gitlab-ci/issues/1#issuecomment-123750651

[2015-07-23 12:33] #41 closed

[2015-07-23 13:24] sameersbn commented on #41
@jacek-marchwicki thanks for pointing this out. I seemed to have missed documenting those parameters. updated the docs to include this information.

[2015-08-04 16:51] kyzh opened #45 "Cases where GITLAB_CI_PORT is not honnored"
It seems that no matter what I set ```GITLAB_CI_PORT``` to, I have a hard time getting the port to be something else than 80 within the container.
I have a case where I run haproxy in front of gitlab-ci, therefore I don't provide certificates, yet I enable ```GITLAB_CI_HTTPS```.

[2015-08-04 17:56] sameersbn commented on #45
@kyzh  the internal http server always runs on port 80. the `GITLAB_CI_PORT` is only used to perform http -> https redirection when the standard https port is not being used. .So in the docker run if you have `-p 10082:80 -e GITLAB_CI_PORT=10082` the gitlab ci http server will be accessible on port `10082` as per your configuration.

In short, the `GITLAB_CI_PORT` configuration does not change the

[2015-08-04 18:41] kyzh commented on #45
I think I got it.
Gitlab ci need to know which port (outside of the container here 10082) where https is served, so when one hit the http port, the redirect will provide the correct port for https(10082).
Both http and https are served over port 80 (within the container).

[2015-08-05 09:14] #45 closed

[2015-08-24 01:46] lspvic opened #47 "setting gitlab ci gravatar enabled configuration"
It would be very nice that a GITLAB_CI_GRAVTAR_ENABLED enviroment variable added for the 'gravatar' option in application.yml, as gravatar.com is not available in some region thus leading a long loading gitlab-ci pages in browser.

The configuration is as follows in application.yml:

@sameersbn

[2015-08-24 15:18] sameersbn commented on #47
Gitlab CI 7.14.0 has removed the gravatar configs all together.

[2015-08-27 19:45] ppvolto opened #48 "Oauth Linking Gitlab-CI and Gitlab"
My Setup
  sameersbn/gitlab-ci:7.14.1 http://ci.example.com/
  sameersbn/gitlab:7.14.1 http://git.example.com/

the command for the gitlab-ci container

[code]

the command for the gitlab container

[code]

Now my Problem i have both running and there can see each other via curl or wget over the described urls now i get on gitlab side this as request

[code]

I have current no idea how that packag

[2015-08-30 04:46] sameersbn commented on #48
@ppvolto You don't seem to have exposed ports for HTTP in either of your containers.

[2015-09-24 09:23] sameersbn commented on #1
**2014-09-24**
 - Since version `8.0.0`, Gitlab CE and CI are one. If you use GitLab CI, then please refer to https://github.com/sameersbn/docker-gitlab/blob/master/CI_MIGRATION.md for migration instructions

[2015-10-03 08:53] sspreitzer opened #49 "postgres, select from projects: but tablename is ci_projects"
Hi there

i found out that when using postgres it autocreates ci_* tablenames but in the code it is trying to access the tables without the prefix.
Looks like a bug to me. Configuration option is not available.

UPDATE: Don't know whether this issue should be filed to upstream.

Kind regards
Sascha

[2015-10-03 09:21] sspreitzer commented on #49
"Since version 8.0 GitLab CI has been merged into GitLab CE and you no longer need to setup a separate GitLab CI instance."

Haven't read that, maybe thats why..

[2015-10-04 14:16] sameersbn commented on #49
If its a new installation, you do not need to perform any CI migration steps. Just setup GitLab and thats all.
Please close the issue if resolved.

[2015-10-11 20:31] miguelqvd opened #50 "ERROR: database "gitlab_ci_production" already exists"
Hi,

I'm using docker-compose to create one instance of your gitlab-ci image and since I started to try with version 8.0.4-1 the database can't be created:

postgresql_gitlab_ci_1 | 2015-10-11 19:58:48 UTC [87-1] gitlab_ci@postgres ERROR:  database "gitlab_ci_production" already exists
postgresql_gitlab_ci_1 | 2015-10-11 19:58:48 UTC [87-2] gitlab_ci@postgres STATEMENT:  CREATE DATABASE "gitlab_ci

[2015-10-12 03:40] sameersbn commented on #50
Since version 8.0, Gitlab CI has been integrated into GitLab. The `8.0.x` versions of GitLab CI are meant for the purpose of migrating existing installations.

[2015-10-12 03:48] miguelqvd commented on #50
Thank you so much!

[2015-10-12 03:48] #50 closed

[2015-10-24 10:31] sspreitzer commented on #49
Closing, works for me. Solution: Use sameersbn/docker-gitlab instead of sameersbn/docker-gitlab-ci.

[2015-10-24 10:31] #49 closed

[2018-01-26 15:52] #47 closed

[2020-03-18 22:43] almereyda commented on #27
This can probably be closed.

[2020-12-15 02:58] bullub commented on #31
Whether we can try to use regular expressions or support the configuration of origin to authenticate authorization, because in some scenarios, many pages in the website can trigger authorization and be called back. It is not realistic to list the redirect URIs one by one, but this demand is very urgent.

[2021-07-23 17:34] #48 closed